*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 80%
    background-color: red;
}
.container h1,p{
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font size: 50px;
}
p{
    font-size: 20px;
}

input,textarea{
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    width: 80%;
    margin: 15px;
    padding: 7px;
}
form{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.btn{
    color: white;
    background-color:rgb(237, 102, 102);
    padding: 8px 12px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: poonter;
}
.hbtu{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity:1 
}
.submitMSG{
    font-size: 25px;
    color: green;
}